@font-face {
    font-family: montserrat;
    src: url('Montserrat-Light.ttf');
}

@font-face {
        font-family: "Affogato";
        font-style:normal;
        font-weight:300;
        src: local("Affogato-Regular"), url("../fonts/Affogato-Regular.otf") format("truetype");
}


